@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,700&display=swap");

:root {
  --white: #fffffe;
  --yellow: #ffd803;
  --primary-1: #272343;
  --primary-2: #2d334a;
  --secondary: #e3f6f5;
  --tertiary: #bae8e8;
}

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
  font: inherit;
  list-style: none;
}

a {
  text-decoration: none;
}

/* HTML */
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: "Roboto", "sans-serif";
  color: var(--primary-2);
  background-color: var(--white);
}

/* Container */
.container {
  padding-inline: 10%;
}

/* Navigation */
#navigation {
  padding-block: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--primary-1);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  background-color: var(--white);
  z-index: 9999;
  transition: all 200ms ease-out;
}

#logo {
  font-weight: 700;
  font-style: italic;
  font-size: 2.5rem;
  color: var(--primary-1);
}

#nav-desktop {
  display: flex;
}
#nav-mobile,
#hamburger {
  display: none;
}
#nav-desktop a {
  padding: 0.5rem 1rem;
  border: 1px solid var(--primary-1);
}

#nav-desktop li:first-child a {
  border-right: 0;
  border-radius: 0.5rem 0 0 0.5rem;
}

#nav-desktop li:last-child a {
  border-left: 0;
  border-radius: 0 0.5rem 0.5rem 0;
}

#nav-desktop li a {
  font-size: 1rem;
  font-weight: 500;
  color: #2d334a;
  transition: all 100ms ease-out;
}

#nav-desktop li a:hover {
  background-color: var(--yellow);
  border-color: var(--yellow);
}

/* Hero */
#hero {
  display: flex;
  align-items: center;
  padding-top: 130px;
  padding-bottom: 2rem;
}

#hero div:first-child {
  width: calc((7 / 12) * 100%);
  display: flex;
  justify-content: center;
  gap: 1rem;
}

#hero div:first-child h1 {
  font-size: 2.5rem;
  font-weight: 700;
  width: 55%;
  border: 5px solid var(--yellow);
  padding: 1.5rem 2rem;
}

#hero div:first-child h1 span {
  background-color: var(--yellow);
  padding-inline: 0.5rem;
  color: var(--primary-1);
  font-size: 2.3rem;
  font-style: italic;
}

#hero div:first-child p {
  width: 28%;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

#hero div:first-child p span {
  font-weight: 700;
  font-style: italic;
}

#hero div:last-child {
  width: calc((5 / 12) * 100%);
  display: grid;
  place-items: center;
}

#hero div:last-child img {
  max-width: 380px;
}

/* Review & Contact */
#review-contact {
  display: flex;
  padding-block: 4rem;
}

#review {
  width: calc((8 / 12) * 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

#review-stroke {
  padding: 2rem;
  border: solid 5px var(--primary-1);
  width: 80%;
}

#review img {
  max-width: 100%;
  background-size: cover;
}

#review-container {
  display: flex;
  overflow-x: hidden;
}

#review-container .review-item {
  width: 100%;
  flex-shrink: 0;
  transition: all 800ms ease-in-out;
}

.review-text {
  font-style: italic;
  text-align: center;
  margin-top: 0.5rem;
  font-size: 1.25rem;
}

.review-id {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  align-items: center;
  gap: 0.75rem;
}

.review-id img {
  width: 50px;
}

.review-id div {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.review-name {
  font-weight: 700;
}

.review-job {
  font-size: 14px;
  font-weight: 400;
}

#review-circle {
  margin-top: 1.5rem;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

#review-circle .circle {
  display: block;
  width: 0.75rem;
  height: 0.75rem;
  background-color: var(--tertiary);
  border-radius: 100%;
  cursor: pointer;
}

#review-circle .select {
  background-color: #272343;
  cursor: default;
}

/* Feature */
#feature {
  padding: 0 5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#feature span {
  font-size: 1.25rem;
  font-weight: 500;
}

#feature .feature-list {
  display: flex;
  gap: 1rem;
  align-items: center;
  width: 100%;
}

#feature .feature-list span {
  padding: 0.75rem 1rem;
  background-color: var(--primary-1);
  color: var(--white);
  display: grid;
  border-radius: 100%;
  place-items: center;
  font-weight: 700;
}

/* Contact */
#contact {
  padding: 2.5rem 2rem;
  background-color: var(--primary-1);
  width: calc((4 / 12) * 100%);
  height: fit-content;
  color: var(--white);
}

#contact h3 {
  font-size: 1.75rem;
  font-weight: 500;
  margin-bottom: 0.25rem;
}

#contact form {
  display: flex;
  flex-direction: column;
  row-gap: 0.7rem;
  margin-top: 2rem;
}

#contact label {
  display: block;
  font-weight: 500;
  margin-bottom: 0.25rem;
}

#contact input {
  padding: 0.5rem 1rem;
  width: 100%;
  outline: none;
  border-radius: 0.25rem;
}

#contact input:focus {
  outline: 2px solid var(--yellow);
}

#contact select {
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  background-color: var(--white);
  font-family: "Roboto", "sans-serif";
}

#contact button {
  font-weight: 500;
  padding-block: 0.5rem;
  color: var(--primary-2);
  border-radius: 0.25rem;
  background-color: var(--yellow);
  letter-spacing: 0.15rem;
  border: 2px solid var(--yellow);
  cursor: pointer;
  margin-top: 1rem;
}

#contact button:hover {
  background-color: var(--transparent);
  color: var(--yellow);
}

/* Package */
#package {
  padding-block: 6rem;
  background-color: var(--secondary);
}

#package h2 {
  font-size: 2rem;
  text-align: center;
  font-weight: 700;
  padding-bottom: 4rem;
}

#package-region,
#package-destination {
  display: flex;
  gap: 2rem;
  justify-content: space-evenly;
}

#package-destination .destination-list,
#package-region .region-list {
  display: flex;
  gap: 0.75rem;
  width: calc((3.5 / 12) * 100%);
  background-color: var(--white);
  padding: 2rem;
  border-radius: 0.5rem;
}

#package-region .region-list span {
  flex-shrink: 0;
  display: grid;
  place-items: center;
  color: var(--white);
  font-weight: 500;
  font-size: 0.75rem;
  background-color: var(--primary-1);
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

#package-destination .destination-list img {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
}

#package-destination .destination-list h3,
#package-region .region-list h3 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

#line {
  margin-inline: auto;
  margin-block: 3rem;
  display: block;
  width: 30%;
  border: 2px solid var(--primary-1);
}

/* Call */
#call {
  padding-block: 5rem;
  text-align: center;
}

#call-stroke {
  width: 60%;
  margin: auto;
  padding: 2rem;
  border: 5px solid var(--yellow);
}

#call h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

#call p {
  margin-bottom: 2rem;
}

#call a {
  margin: auto;
  width: fit-content;
  display: block;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0.75rem 3rem;
  border-radius: 0.5rem;
  background-color: var(--yellow);
  color: var(--primary-1);
  cursor: pointer;
  border: 3px solid var(--yellow);
  transition: all 100ms ease-out;
}

#call a:hover {
  background-color: transparent;
  color: var(--primary-1);
}

/* Footer */
footer {
  text-align: center;
}
footer a {
  font-weight: 700;
  font-style: italic;
  font-size: 2.5rem;
  color: var(--primary-1);
}

footer div {
  margin-top: 1rem;
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

footer div a {
  display: grid;
  place-items: center;
  border-radius: 0.4rem;
  padding: 0.5rem;
  background-color: var(--primary-1);
  color: var(--white);
  transition: all 100ms ease-out;
}

footer div a:hover {
  background-color: var(--yellow);
}

/* Validation */
#input-name::after,
#input-email::after,
#input-interest::after {
  display: block;
  opacity: var(--opacity, 0);
  font-size: 0.875rem;
  color: var(--yellow);
  margin-top: 0.4rem;
  transition: all 50ms ease-out;
}

#input-name::after {
  content: attr(data-text);
}
#input-email::after {
  content: attr(data-text);
}
#input-interest::after {
  content: var(--content, "*Mohon pilih salah satu");
}

@media only screen and (max-width: 768px) {
  .container {
    padding-inline: 7%;
  }

  /* Hero */
  #hero {
    align-items: start;
  }
  #hero div:first-child {
    flex-direction: column;
  }
  #hero div:first-child h1 {
    width: 80%;
  }
  #hero div:first-child p,
  #hero div:last-child img {
    width: 100%;
  }
  #hero div:first-child,
  #hero div:last-child {
    width: 50%;
  }

  /* Review & Contact */
  #review {
    width: calc((7 / 12) * 100%);
    align-items: start;
  }
  #review-stroke {
    width: 93%;
  }

  #feature {
    padding: 0;
    width: 93%;
  }

  #contact {
    width: calc((5 / 12) * 100%);
  }

  /* Package */
  #package-region,
  #package-destination {
    flex-wrap: wrap;
    row-gap: 2rem;
  }
  #package-region .region-list,
  #package-destination .destination-list {
    width: 45%;
  }

  #call-stroke {
    width: 70%;
  }
}

@media only screen and (max-width: 375px) {
  /* Navigation */
  #nav-desktop li {
    display: none;
  }

  #hamburger {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    cursor: pointer;
    background-color: transparent;
  }

  #hamburger span {
    display: block;
    border: 2px solid var(--primary-1);
    width: 1.75rem;
  }

  #nav-mobile {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 1.25rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    background-color: var(--primary-1);
    padding: 3rem;
    transform: translateX(100%);
    transition: all 500ms ease-in-out;
  }

  #nav-mobile li {
    width: fit-content;
  }
  #nav-mobile a {
    color: var(--white);
  }
  #nav-mobile a:hover {
    text-decoration: underline;
  }

  #nav-mobile button {
    cursor: pointer;
    z-index: 50;
    position: absolute;
    top: 3rem;
    right: 3rem;
    background-color: transparent;
  }

  #nav-mobile span {
    display: block;
    width: 1.75rem;
    border: 2px solid var(--white);
  }

  #nav-mobile span:first-child {
    transform: translateY(50%) rotate(45deg);
  }

  #nav-mobile span:last-child {
    transform: translateY(-50%) rotate(-45deg);
  }

  /* Hero */
  #hero {
    flex-direction: column;
    gap: 3rem;
  }

  #hero div:first-child,
  #hero div:first-child h1,
  #hero div:first-child p,
  #hero div:last-child,
  #hero div:last-child img {
    width: 100%;
  }

  #hero div:first-child {
    flex-direction: column;
  }

  /* Review & Contact */
  #review-contact {
    flex-direction: column;
    gap: 2rem;
    padding-block: 2rem;
  }

  #review,
  #contact,
  #review-stroke {
    width: 100%;
  }
  #review-stroke {
    padding: 1rem;
  }
  #feature {
    padding: 0;
  }

  /* Package */
  #package-region,
  #package-destination {
    flex-direction: column;
  }
  #package-region .region-list,
  #package-destination .destination-list {
    width: 100%;
  }

  /* Call */
  #call-stroke {
    width: 100%;
  }
}
